<div class="bg-gray-500 flex flex-1">
  <input type="text" placeholder="Search" class="p-5 flex-1 outline-none border">
</div>

<div class="flex items-center justify-center pt-5">

  <div class="flex flex-row w-3/4">
    <div>
      <div class="image bg-gray-400 flex-1 flex w-48 h-48">
        <img
          alt="ok"
          class="cursor-pointer"
          src="https://i.scdn.co/image/2e3ccae12ef97d41a05af922330e11bc07cf1e94"
        >
      </div>
    </div>

    <div class="flex-1 p-5">
      <h1 class="text-3xl">Best of Rock 2019</h1>
      <p class="text-gray-600 mt-2 mb-2">
        Jorge Hernandez - Rock Editor
      </p>
      <p class="text-gray-500">
        An interesting year of rock is coming to an end. Time to wrap this one up! Enjoy our rock <br/>
        picks of 2019. Cover: Bring Me The Horizon
      </p>
    </div>
  </div>
</div>

<div class="flex justify-center pt-5 pb-5">
  <div class="flex flex-row w-3/4">
    <table class="table-auto border-collapse flex-1">
      <thead>
        <tr>
          <th class="px-4 py-2">Track</th>
          <th class="px-4 py-2">Artist</th>
          <th class="px-4 py-2">Album</th>
          <th class="px-4 py-2">L.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">Too Bad</td>
          <td class="border px-4 py-2">Rival Sons</td>
          <td class="border px-4 py-2">Feral Roots</td>
          <td class="border px-4 py-2">04:44</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Too Bad</td>
          <td class="border px-4 py-2">Rival Sons</td>
          <td class="border px-4 py-2">Feral Roots</td>
          <td class="border px-4 py-2">04:44</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Too Bad</td>
          <td class="border px-4 py-2">Rival Sons</td>
          <td class="border px-4 py-2">Feral Roots</td>
          <td class="border px-4 py-2">04:44</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Too Bad</td>
          <td class="border px-4 py-2">Rival Sons</td>
          <td class="border px-4 py-2">Feral Roots</td>
          <td class="border px-4 py-2">04:44</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Too Bad</td>
          <td class="border px-4 py-2">Rival Sons</td>
          <td class="border px-4 py-2">Feral Roots</td>
          <td class="border px-4 py-2">04:44</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Too Bad</td>
          <td class="border px-4 py-2">Rival Sons</td>
          <td class="border px-4 py-2">Feral Roots</td>
          <td class="border px-4 py-2">04:44</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Too Bad</td>
          <td class="border px-4 py-2">Rival Sons</td>
          <td class="border px-4 py-2">Feral Roots</td>
          <td class="border px-4 py-2">04:44</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Too Bad</td>
          <td class="border px-4 py-2">Rival Sons</td>
          <td class="border px-4 py-2">Feral Roots</td>
          <td class="border px-4 py-2">04:44</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Too Bad</td>
          <td class="border px-4 py-2">Rival Sons</td>
          <td class="border px-4 py-2">Feral Roots</td>
          <td class="border px-4 py-2">04:44</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
